<div class="row border-bottom">
    <nav class="navbar navbar-static-top" style="min-height:30px;margin-bottom:0px;" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <select ng-change="changeLanguage(language)" ng-model="language" name="" id="">
                    <option value="zh">中文</option>
                    <option value="en">English</option>
                </select>
                <!-- <button ng-click="changeLanguage('zh')">中文</button>
                <button ng-click="changeLanguage('en')">English</button> -->
            </li>
            <li>
                <a ui-sref="logout" style="padding: 5px 10px;min-height: 30px;">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>
